/tym1-digi/                @bank-data-contracts/tým-digi
/tym2-Data-Governance/     @bank-data-contracts/tým-DataGov
/tym3-obsluha-klienta/     @bank-data-contracts/tým-obsluha-klienta
/tym4-steering-data/       @bank-data-contracts/tým-DataGov
/tym5-Risk-ESG/            @bank-data-contracts/tým-esg-risk
/tym6-strategie/           @bank-data-contracts/tým-strategie
/tym7-gen-ai/              @bank-data-contracts/tým-icm-genai
/tym8-investment-banking/  @bank-data-contracts/tým-investment-banking
